.DS_Store
gitpush.sh
rsync.sh
tag.sh
curl_trace.txt
cookies.txt
*result.json
login_response_debug.html
manual_form_debug.html
results.txt
*.mers
*.loop
logs/
.DS_Store
*~
*.save
*.p95
*.o
*.d
*.swp
/prmers
*.bufd
*.gli
*.isav
*.jsav
*.lbufd
*.proof
*/proof/*
*.exponent
stage1_result_*.txt
worktodo*.txt
*.save
*.ckpt
lastcurve.gp
/vcpkg
/prmers.exe
/*.zip
/package
/tests/build-*/
/.vscode
prmers.log
proof/
proof-tmp/
